.table{
    margin-top: 20px;
    overflow:scroll;
    height: 400px;
}
.table tr{
    display: flex;
    justify-content: space-between;
}
.table tr:nth-of-type(odd){
    background-color: #f8f9fa;
}
.table td{
    padding : 10px;
}